@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: black;
  min-height: 60vh;
}

.grad-magenta {
  background: linear-gradient(20deg, #632734 25%, #852748 50%, #632734 75%);
}

.dotted-background {
  background-color: #000;
  background-image: radial-gradient(circle, #30181d9f 1px, transparent 2px);
  background-size: 20px 20px;
}

.home-banner-arrow {
  transition: fill 0.4s ease 0.1s;
}

.home-banner-arrow:hover {
  fill: #85404e;
}
